.posts-title {
  padding-left: 30px;
}

.page-wrapper {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.page-wrapper .posts-container {
  max-width: 65%;
}
.page-wrapper .posts-container .posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.page-wrapper .posts-container .posts-wrapper a {
  color: white;
  text-decoration: none;
  width: 48%;
  background-color: rgb(37, 37, 37);
  margin-bottom: 20px;
  padding: 20px;
  text-transform: capitalize;
  border-radius: 10px;
}
.page-wrapper .posts-container .posts-wrapper a.active {
  background-color: grey;
}
.page-wrapper .posts-container .posts-wrapper .inner-post-item {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.page-wrapper .posts-container .posts-wrapper .inner-post-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.page-wrapper .posts-container .posts-wrapper .inner-post-item .post-title {
  margin: 0;
}
.page-wrapper .comments-container {
  max-width: calc(35% - 60px);
}
.page-wrapper .comments-container .comments-title {
  font-size: 28px;
}
.page-wrapper .comments-container .comment-wrapper {
  margin: 25px 0 25px;
}
.page-wrapper .comments-container .comment-item {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 100%;
  background-color: grey;
  margin-bottom: 20px;
  padding: 10px 10px 20px;
  border-radius: 10px;
  color: white;
}
.page-wrapper .comments-container .comment-item .profile-picture-wrapper {
  padding-top: 5px;
}
.page-wrapper .comments-container .comment-item .profile-picture-wrapper .profile-picture {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.page-wrapper .comments-container .comment-item .title-wrapper {
  display: flex;
}
.page-wrapper .comments-container .comment-item .title-wrapper .persons-name {
  margin: 5px 0 2px;
  width: 70%;
  text-transform: capitalize;
}
.page-wrapper .comments-container .comment-item .title-wrapper .buttons-wrapper {
  max-width: 50px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 5px;
  border-left: 1px solid orange;
  height: 50%;
}
.page-wrapper .comments-container .comment-item .title-wrapper .delete-button,
.page-wrapper .comments-container .comment-item .title-wrapper .edit-button {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 5px;
}
.page-wrapper .comments-container .comment-item .persons-email {
  font-size: 14px;
  color: rgb(211, 209, 209);
  font-weight: 500;
}
.page-wrapper .comments-container .comment-item .display-text-group {
  margin-top: 20px;
  font-size: 16px;
}
.page-wrapper .comments-container .no-comments {
  font-weight: 600;
}
.page-wrapper .input-box {
  position: relative;
  width: 100%;
}
.page-wrapper .input-box .input {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  color: grey;
  margin-bottom: 10px;
}
.page-wrapper .input-box .input:valid ~ span, .page-wrapper .input-box .input:focus ~ span {
  color: orange;
  transform: translateX(10px) translateY(-7px);
  font-size: 14px;
  padding: 0 10px;
  background-color: rgb(29, 29, 29);
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  letter-spacing: 1px;
}
.page-wrapper .input-box span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 18px;
  color: grey;
  text-transform: uppercase;
  transition: 0.5s;
}
.page-wrapper .textarea-wrapper {
  position: relative;
}
.page-wrapper .textarea-wrapper textarea {
  border: 2px solid orange;
  background-color: transparent;
  resize: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 35px 10px 10px;
  outline: none;
  font-size: 18px;
  color: gray;
}
.page-wrapper .textarea-wrapper textarea::-webkit-scrollbar {
  display: none;
}
.page-wrapper .textarea-wrapper .arrow-icon-wrapper {
  position: absolute;
  right: 15px;
  bottom: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.page-wrapper .textarea-wrapper .arrow-icon-wrapper .arrow-icon {
  width: 10px;
}

.show-more {
  color: rgb(20, 20, 20);
  text-decoration: underline;
  cursor: pointer;
}

.selected-post {
  background-color: rgb(182, 180, 180);
}/*# sourceMappingURL=Posts.css.map */