.posts-title {
  padding-left: 30px;
}

.page-wrapper {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .posts-container {
    max-width: 65%;

    @media (max-width: 1150px) {
      max-width: 55%;
    }

    .posts-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;

      a {
        color: white;
        text-decoration: none;
        max-width: 48%;
        background-color: rgb(37, 37, 37);
        margin-bottom: 20px;
        padding: 20px;
        text-transform: capitalize;
        border-radius: 10px;

        &.active {
          background-color: grey;
        }

        @media (max-width: 1170px) {
          max-width: 100%;
        }
      }

      .inner-post-item {
        display: flex;
        column-gap: 15px;

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }

        .post-title {
          margin: 0;
        }
      }
    }
  }
}

.selected-post {
  background-color: rgb(182, 180, 180);
}
