.search-title {
  padding-left: 30px;
}
.results-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  column-gap: 20px;
  color: rgb(206, 204, 204);
  padding: 30px;

  a {
    text-decoration: none;
    color: rgb(206, 204, 204);
    text-transform: capitalize;
  }

  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}
