.user-bg-wrapper {
  background-image: url("../../Images/user-bg.jpg");
  height: 350px;
  background-position: 50% 30%;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .user-info {
    max-width: 18%;

    @media (max-width: 860px) {
      max-width: 35%;
    }
  }

  .middle-section {
    max-width: 40%;

    @media (max-width: 860px) {
      max-width: 60%;
    }
  }

  .right-section {
    width: 30%;

    @media (max-width: 860px) {
      display: none;
    }
  }
}
