.users-wrapper {
  padding: 30px 0;

  a {
    text-decoration: none;
  }

  .user-item {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    .user-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .user-info {
      margin: 0 10px;

      p {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: rgb(231, 231, 231);
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: rgb(121, 120, 120);
      }
    }
    .online {
      margin-left: auto;
      width: 9px;
      height: 9px;
    }
  }
}
